<!DOCTYPE html>
<html lang="en">

<head>
       <!-- Meta -->
	<%- include ("../partial/meta-description.ejs") %>

	<!-- Title -->
	<title>Welly - Django Hospital Admin Dashboard Bootstrap Template</title>

	<!-- General css -->
    <%- include ("../partial/meta-css.ejs") %>
    <link href="/frontend/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/frontend/vendor/chartist/css/chartist.min.css">
    <link href="/frontend/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/frontend/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include ("../partial/preloader.ejs") %>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!-- NOTIFICATION SECTION  -->
		<%- include ("../partial/notificatiion.ejs")  %>
		<!-- NOTIFICATION SECTION  -->
        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include ("../partial/nav-header.ejs") %>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<%- include ("../partial/chartbox.ejs") %>
		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
        <%- include ("../partial/header.ejs") %>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
		<%- include ("../partial/sidebar.ejs") %>
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="form-head d-flex align-items-center mb-sm-4 mb-3">
					<div class="me-auto">
						<h2 class="text-black font-w600">Purchases</h2>
						<!-- <p class="mb-0">Hospital Admin Dashboard Template</p> -->
					</div>
					<!-- <a href="javascript:void(0)" class="btn btn-outline-primary"><i class="las la-cog scale5 me-3"></i>Customize Layout</a> -->
				</div>
				<div class="row purhases-wrapper">
					<div class="col-lg-12">
                        <div class="card" style="background-color: aquamarine;">
                            <div class="card-header">
                                <h4 class="card-title">Purchases Entry</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="needs-validation purchases-form-wrapper" formvalidate >
                                        <div class="row purchases-form-container">
                                            <div class="col-xl-6 cells">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom01">Supplier:
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
														<input type="text" class="form-control supplier" name="supplier" id="validationCustom01"  placeholder="" required>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom02"> Invoice Date:
														<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="date" class="form-control invoice-date" name="invoice_date" id="validationCustom02"  placeholder="" required>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom02"> Invoice Number:
														<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control invoice-number" name="invoice_number" id="validationCustom02"  placeholder="" required>
                                                    </div>
                                                </div>
												<div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom05">Item Code:
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control item-code" name="item_code" id="validationCustom02"  placeholder="" required readonly>
                                                    </div>
                                                </div>
												<div class="card-body">
													<button type="button" class="btn btn-square btn-outline-warning copy purchases-copy-paste-button">
														<span class="btn-icon-left text-warning">
															<i class="fa fa-copy color-warning"></i>
														</span>Copy
													</button>
													<button type="button" class="btn btn-square btn-outline-success paste purchases-copy-paste-button">
														<span class="btn-icon-left text-success">
															<i class="fa fa-paste color-success"></i>
														</span>Paste
													</button>
												</div>
                                            </div>
                                            <div class="col-xl-6 cells">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom06">Particular:
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control particular" name="particular" id="validationCustom06" placeholder="" required>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom07">Quantity:
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control quantity" name="quantity" id="validationCustom07"  placeholder="" required>
														
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom08">Unit Price:
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control price" name="price" id="validationCustom08" placeholder="" required>
													
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom09">Amount: <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control amount" name="amount" id="validationCustom09"  placeholder="" required>
														
                                                    </div>
                                                </div>
                                                
                                                <div class="mb-3 row purchases-button-wrapper" data-purchases="<% if (context !== undefined) { %><%- context.config.post_urls.purchases_entry %><% } %>">
                                                    <div class="col-lg-8 ms-auto">
                                                        <button type="button" class="btn btn-primary purchases-button submit">Submit</button>
                                                        <button type="button" class="btn btn-primary purchases-button preview" 
                                                        data-url="<% if (context !== undefined) { %><%- context.config.view_urls.purchase_preview %><% } %>">Preview Purchases <div class="preview-number"><%- context.purchases_length %></div></button>
                                                        <div class="loading-gif"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="" target="_blank">PPF</a> 2024</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- General js -->
    <%- include ("../partial/meta-js.ejs") %>
    <script src="/frontend/js/purchases.js" type="module"></script>
	<script src="/frontend/vendor/chart-js/chart.bundle.min.js"></script>
	<script src="/frontend/vendor/bootstrap-datetimepicker/js/moment.js"></script>
	<script src="/frontend/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<!-- Chart piety plugin files -->
    <script src="/frontend/vendor/peity/jquery.peity.min.js"></script>
	
	<!-- Apex Chart -->
	<script src="/frontend/vendor/apexchart/apexchart.js"></script>
	
	<!-- Dashboard 1 -->
	<script src="/frontend/js/dashboard/dashboard-1.js"></script>
	<script>
		$(function () {
			$('#datetimepicker1').datetimepicker({
				inline: true,
			});
		});
	</script>
</body>
</html>