<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <!-- Meta -->
	<%- include ("../partial/meta-description.ejs") %>
	<!-- Title -->
	<title>PROJECT - PPF || Register </title>
    <!-- GENERAL css -->
    <%- include ("../partial/meta-css.ejs") %>
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-12">
					
                    <!-- NOTIFICATION SECTION  -->
                    <%- include ("../partial/notificatiion.ejs")  %>
                    <!-- NOTIFICATION SECTION  -->

					<div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-12 logo-wrapper">
									    <a href="<% if (context !== undefined) { %><%- context.config.view_urls.login %><% } %>" class="logo-img-wrapper">
                                            <img src="../../img/svg" alt="">
                                            <div class="logo-content"> Logo Content </div>
                                        </a>
									</div>
                                    <h4 class="text-center mb-1 text-white"> Register Your Business </h4>
                                    <form action="<% if (context !== undefined) { %><%- context.config.post_urls.register %><% } %>" method="post">
                                        <div class="row" style="margin-top: 20px;">
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Email</strong></label>
                                                <input type="email" class="form-control" placeholder="hello@example.com" name="username">
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Business Name</strong></label>
                                                <input type="text" class="form-control" placeholder="Business Name" name="businessName">
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Nature Of Business</strong></label>
                                                <input type="text" class="form-control" placeholder="Nature Of Business" name="natureOfBusiness">
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Business Type</strong></label>
                                                <select class="form-control" name="businessType" id="type">
                                                    <option value="" disabled> Select Opt </option>
                                                    <option value="Business 1"> Business 1 </option>
                                                    <option value="Business 2"> Business 2 </option>
                                                    <option value="Business 3"> Business 3 </option>
                                                </select>
                                                <!-- <input type="text" class="form-control" placeholder="Business Type"> -->
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Business Location</strong></label>
                                                <input type="text" class="form-control" placeholder="Business Location" name="location">
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Business Address</strong></label>
                                                <input type="text" class="form-control" placeholder="Eg: " name="address">
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Country</strong></label>
                                                <input type="text" class="form-control" placeholder="" name="country" value="Ghana">
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Contact Number </strong></label>
                                                <input type="text" class="form-control" placeholder="0123456789" name="contact">
                                            </div>
                                            <!-- <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Busines Logo</strong></label>
                                                <input type="text" class="form-control" placeholder="" name="businessLogo">
                                            </div> -->
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Region/state</strong></label>
                                                <select class="form-control" name="region_state" id="">
                                                    <option value="" disabled> Select Opt </option>
                                                    <option value="Region 1"> Region 1 </option>
                                                    <option value="Region 2"> Region 2 </option>
                                                    <option value="Region 3"> Region 3 </option>
                                                </select>
                                                <!-- <input type="text" class="form-control" placeholder="Eg:  Accra" name="region_state"> -->
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>Town</strong></label>
                                                <input type="text" class="form-control" placeholder="Eg: Anyinam" name="town">
                                            </div>
                                            <div class="form-group; col-md-6 form-cell">
                                                <label class="mb-1 text-white"><strong>CEO Name</strong></label>
                                                <input type="text" class="form-control" placeholder="Eg: Project PPF" name="ceo">
                                            </div>
                                            <!-- <div class="form-group; col-md-4 form-cell">
                                                <label class="mb-1 text-white"><strong>Role</strong></label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div> -->
                                            
                                            <div class="form-group; col-md-4 form-cell">
                                                <label class="mb-1 text-white"><strong>Password</strong></label>
                                                <input type="password" class="form-control" name="new_pass">
                                            </div> 
                                            <div class="form-group; col-md-4 form-cell">
                                                <label class="mb-1 text-white"><strong>Confirm Password</strong></label>
                                                <input type="password" class="form-control" name="password">
                                            </div> 
    
                                            
                                            <div class="text-center mt-4" style="margin-top: 10px;">
                                                <button type="submit" class="btn bg-white text-primary btn-block"> Register </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p class="text-white">Already have an account? <a class="text-white" href="page-login.html">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->

    <!-- GENERAL JS -->
    <%- include ("../partial/meta-js.ejs") %>

</body>
</html>